{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django Zuri Blog</a></h1>
        </div>
        {% if user.is_authenticated %}
            <div class="nav-right">          
                <p>Hello {{user.username}}</p>
                <div class="logged_in_nav">
                    <p><a href = "{% url 'post_new' %}">New Blog Post</a></p>
                    <p><a href= "{% url 'password_reset'%}">Reset Password</a></p> 
                    <p><a href= "{% url 'logout'%}">Log out</a></p>                  
                </div>
            </div>                  
        {% endif %}
        
    </header>
    <div>
            {% block content  %}
            {% endblock %}
    </div>
   
</body>
</html>