{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h2><a href="{% url 'home' %}">Django Zuri Blog</a></h2>
        </div>
        {% if user.is_authenticated %}
            <div class="nav-right">          
                <div class="logged_in_nav">
                    <p><a href = "{% url 'post_new' %}">Create Post</a></p>
                    <div class="vl"></div>
                    <p><a href= "{% url 'password_reset'%}">Reset Password</a></p> 
                    <div class="vl"></div>
                    <p class ="outline-btn"><a  href= "{% url 'logout'%}">Log out</a></p>                  
                </div>
            </div>  
         {% else %}
            <div class = "nav-right">
                <div class="logged_in_nav">
                    <p><a href="{% url 'login' %}">Log In</a></p>
                     <div class="vl"></div>
                    <p class ="outline-btn"><a href="{% url 'signup' %}">Sign Up</a>
                </div>        
            </div>                
        {% endif %}
        
    </header>
    <div>
            {% block content  %}
            {% endblock %}
    </div>
   
</body>
</html>